# SETUP

In [1]:
import pandas as pd

In [165]:
!ls /Users/quartz/data/collabo/solar/

anmyeondo_ultra_B(20160101~20170717).csv
cansim-0800020-eng-6674700030567901031.csv
gangjin_mokpo_boseong_insolation.csv
gwangju(156)heaksando(169)_dust(20160101~20170717).csv
mokpo_cloud_2016.csv
mokpo_cloud_2016.xlsx
mokpo_cloud_2017.csv
mokpo_cloud_2017.xlsx
mooanair_cloud(20160101~20170717).csv
solar_data.csv
wando_weather.csv

### 노트

- 발전량, 일출시간, 일몰시간, 강수량, 습도, 풍속, 기온
- 완도 기상 데이터
- 일사량
- 운량
- 미세먼지
- 자외선 B

In [217]:
file_basic = '/Users/quartz/data/collabo/solar/solar_data.csv'
data_basic = pd.read_csv(file_basic)
data_basic.head()

,날짜,5Hr,6Hr,7Hr,8Hr,9Hr,10Hr,11Hr,12Hr,13Hr,14Hr,15Hr,16Hr,17Hr,18Hr,19Hr,20Hr,...,풍속20hr,기온5hr,기온6hr,기온7hr,기온8hr,기온9hr,기온10hr,기온11hr,기온12hr,기온13hr,기온14hr,기온15hr,기온16hr,기온17hr,기온18hr,기온19hr,기온20hr
0,160701,0.0,2.5,36.9,44.4,29.2,59.3,33.9,9.2,28.4,1.3,1.1,7.3,1.5,0.2,0.0,0,...,4.8,22.600000,22.200001,22.299999,23.900000,24.500000,24.299999,24.100000,23.6,24.299999,24.200001,24.700001,24.500000,24.200001,22.799999,22.400000,22.200001
1,160702,0.0,7.3,24.4,30.1,31.4,57.0,1.1,1.8,5.9,27.3,111.2,72.5,16.8,15.4,4.8,0,...,0.3,22.799999,22.799999,23.200001,22.299999,21.200001,21.299999,20.299999,21.0,21.000000,20.400000,20.400000,20.600000,19.900000,20.700001,20.100000,20.000000
2,160703,0.0,0.0,14.0,16.9,39.7,17.1,10.4,53.9,23.1,3.3,0.0,0.0,0.0,4.6,0.1,0,...,0.1,21.200001,21.000000,20.700001,20.500000,21.000000,20.799999,21.000000,21.4,21.700001,22.000000,22.100000,22.100000,22.200001,22.299999,22.200001,22.299999
3,160704,0.0,0.0,0.0,0.0,8.4,50.7,64.2,146.0,276.5,181.0,146.1,148.4,24.4,9.8,0.5,0,...,0.9,24.900000,26.000000,26.400000,24.700001,24.799999,23.900000,23.799999,23.6,23.600000,23.000000,22.900000,22.700001,22.700001,22.799999,22.600000,22.500000
4,160705,0.0,13.8,74.7,147.0,177.9,306.2,347.2,389.1,302.7,292.2,184.8,153.4,84.0,48.0,1.0,0,...,1.4,27.500000,27.700001,26.799999,27.900000,27.000000,26.400000,25.900000,25.6,24.900000,24.900000,24.500000,23.600000,24.400000,24.600000,24.500000,24.400000

In [218]:
# check columns : 일출시간, 일몰시간, 강수량, 습도, 풍속, 기온
data_basic.columns

Index(['날짜', '5Hr', '6Hr', '7Hr', '8Hr', '9Hr', '10Hr', '11Hr', '12Hr', '13Hr',
       '14Hr', '15Hr', '16Hr', '17Hr', '18Hr', '19Hr', '20Hr', '충전시간발전량',
       '일출시간', '일몰시간', '강수량5hr', '강수량6hr', '강수량7hr', '강수량8hr', '강수량9hr',
       '강수량10hr', '강수량11hr', '강수량12hr', '강수량13hr', '강수량14hr', '강수량15hr',
       '강수량16hr', '강수량17hr', '강수량18hr', '강수량19hr', '강수량20hr', '습도5hr', '습도6hr',
       '습도7hr', '습도8hr', '습도9hr', '습도10hr', '습도11hr', '습도12hr', '습도13hr',
       '습도14hr', '습도15hr', '습도16hr', '습도17hr', '습도18hr', '습도19hr', '습도20hr',
       '풍속5hr', '풍속6hr', '풍속7hr', '풍속8hr', '풍속9hr', '풍속10hr', '풍속11hr',
       '풍속12hr', '풍속13hr', '풍속14hr', '풍속15hr', '풍속16hr', '풍속17hr', '풍속18hr',
       '풍속19hr', '풍속20hr', '기온5hr', '기온6hr', '기온7hr', '기온8hr', '기온9hr',
       '기온10hr', '기온11hr', '기온12hr', '기온13hr', '기온14hr', '기온15hr', '기온16hr',
       '기온17hr', '기온18hr', '기온19hr', '기온20hr'],
      dtype='object')

In [219]:
data_basic['일일 강수량'] = data_basic[['강수량5hr', '강수량6hr', '강수량7hr', '강수량8hr', '강수량9hr', '강수량10hr', 
            '강수량11hr', '강수량12hr', '강수량13hr', '강수량14hr', '강수량15hr', '강수량16hr', 
            '강수량17hr', '강수량18hr', '강수량19hr', '강수량20hr']].sum(axis=1)

data_basic['습도 평균'] = data_basic[['습도5hr', '습도6hr',
       '습도7hr', '습도8hr', '습도9hr', '습도10hr', '습도11hr', '습도12hr', '습도13hr',
       '습도14hr', '습도15hr', '습도16hr', '습도17hr', '습도18hr', '습도19hr', '습도20hr']].mean(axis=1)

data_basic['풍속 평균'] = data_basic[['풍속5hr', '풍속6hr', '풍속7hr', '풍속8hr', '풍속9hr', '풍속10hr', '풍속11hr',
       '풍속12hr', '풍속13hr', '풍속14hr', '풍속15hr', '풍속16hr', '풍속17hr', '풍속18hr',
       '풍속19hr', '풍속20hr']].mean(axis=1)

data_basic['기온 평균'] = data_basic[['기온5hr', '기온6hr', '기온7hr', '기온8hr', '기온9hr',
       '기온10hr', '기온11hr', '기온12hr', '기온13hr', '기온14hr', '기온15hr', '기온16hr',
       '기온17hr', '기온18hr', '기온19hr', '기온20hr']].mean(axis=1)

data_basic = data_basic[['날짜', '충전시간발전량', '일출시간', '일몰시간', '일일 강수량', '습도 평균', '풍속 평균', '기온 평균']]
data_basic.tail()

         날짜  충전시간발전량  일출시간  일몰시간  일일 강수량    습도 평균    풍속 평균     기온 평균
377  170713   1625.2   530  1946     0.0  90.7500  1.26875  24.56250
378  170714   1764.5   531  1946     0.0  93.3125  0.73750  25.46875
379  170715    937.2   531  1945     0.0  92.5625  0.54375  24.88750
380  170716   1945.4   532  1945     0.0  93.6875  0.86875  25.54375
381  170717   1092.1   533  1944     3.9  93.1250  1.59375  25.14375

---

### 완도 기상

In [380]:
pd.options.display.max_columns = 35

file_wando = '/Users/quartz/data/collabo/solar/wando_weather.csv'
data_wando = pd.read_csv(file_wando, encoding='cp949')
data_wando = data_wando[data_wando['일시'] > '2016-07-00']
data_wando.reset_index(drop=True, inplace=True)

# 1 : [['일시', '평균 증기압(hPa)', '평균 현지기압(hPa)', '가조시간(hr)', '합계 일조 시간(hr)']]
# 2 : [['일시', '최대 순간 풍속 풍향(16방위)', '풍정합(100m)', '평균 증기압(hPa)', '평균 현지기압(hPa)', '최고 해면기압(hPa)', '평균 해면기압(hPa)', '가조시간(hr)', '합계 일조 시간(hr)']]
data_wando = data_wando[['일시', '최대 순간 풍속 풍향(16방위)', '풍정합(100m)', '평균 증기압(hPa)', '평균 현지기압(hPa)', '최고 해면기압(hPa)', '평균 해면기압(hPa)', '가조시간(hr)', '합계 일조 시간(hr)']]
data_wando.tail()

,일시,최대 순간 풍속 풍향(16방위),풍정합(100m),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr)
377,2017-07-13,270,705,31.3,1004.5,1010.0,1008.5,14.3,7.1
378,2017-07-14,270,1218,34.0,1004.8,1010.2,1008.8,14.3,5.4
379,2017-07-15,270,1603,35.1,1007.2,1013.1,1011.2,14.2,1.1
380,2017-07-16,200,1982,35.7,1009.0,1014.1,1013.0,14.2,9.1
381,2017-07-17,270,2218,35.7,1008.9,1014.0,1012.9,14.2,4.1

---

### 일사량

In [234]:
pd.options.display.max_columns = 35

file_insolation = '/Users/quartz/data/collabo/solar/gangjin_mokpo_boseong_insolation.csv'
data_insolation = pd.read_csv(file_insolation, encoding='cp949')
data_insolation.columns = ['point', 'time', 'hhmi', 'MJ/m2-H', 'MJ/m2-All']
data_insolation = data_insolation[data_insolation['time'] > '2016-06-30']
data_insolation.reset_index(drop=True, inplace=True)

# 강진군(259), 목포(165), 보성군(258)
print(data_insolation['point'].value_counts())
data_insolation_v2 = pd.DataFrame()
data_insolation_v2['time'] = data_insolation[data_insolation['point'] == 259]['time'].values
data_insolation_v2['gangjin'] = data_insolation[data_insolation['point'] == 259]['MJ/m2-All'].values
# data_insolation_v2['mokpo'] = data_insolation[data_insolation['point'] == 165]['MJ/m2-All'].values[:-1]
# data_insolation_v2['boseong'] = data_insolation[data_insolation['point'] == 258]['MJ/m2-All'].values[:-1]
data_insolation_v2.reset_index(drop=True, inplace=True)
print(data_insolation_v2.isna().sum())

# extract
data_insolation = data_insolation_v2[['time', 'gangjin']]
data_insolation.tail()

258    382
165    382
259    381
Name: point, dtype: int64
time       0
gangjin    0
dtype: int64

           time  gangjin
376  2017-07-12    19.60
377  2017-07-13    17.56
378  2017-07-14    12.90
379  2017-07-15     3.51
380  2017-07-16    13.66

---

### 운량

In [25]:
!ls /Users/quartz/data/collabo/solar/

anmyeondo_ultra_B(20160101~20170717).csv
cansim-0800020-eng-6674700030567901031.csv
gangjin_mokpo_boseong_insolation.csv
gwangju(156)heaksando(169)_dust(20160101~20170717).csv
mokpo_cloud_2016.xlsx
mokpo_cloud_2017.xlsx
mooanair_cloud(20160101~20170717).csv
solar_data.csv
wando_weather.csv

In [236]:
file_mokpo_1 = "/Users/quartz/data/collabo/solar/mokpo_cloud_2016.csv"
file_mokpo_2 = "/Users/quartz/data/collabo/solar/mokpo_cloud_2017.csv"

data_mokpo_1 = pd.read_csv(file_mokpo_1)
data_mokpo_1.columns = ['일', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
data_mokpo_1 = data_mokpo_1.iloc[:-1, 1:]

data_mokpo_2 = pd.read_csv(file_mokpo_2)
data_mokpo_2.columns = ['일', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
data_mokpo_2 = data_mokpo_1.iloc[:, :]

In [239]:
import re

def make_flat(data, year_2016=True):

    columns = data.columns

    data_cloud = pd.Series()
    for column in columns:
        data_cloud = data_cloud.append(data[column])
    data_cloud.dropna(inplace=True)
    
    data_cal = data_wando['일시'].copy()

    data_cal = data_cal.apply(lambda x : "".join(re.findall('\d', x)))

    if year_2016:
        data_cal = data_cal[data_cal < np.str(20170000)]
    else:
        data_cal = data_cal[data_cal > np.str(20170000)]
    
    data_result = pd.DataFrame()

    if year_2016:
        data_result['data'] = data_cal.values
        data_result['cloud'] = data_cloud.values
    else:
        data_result['data'] = data_cal.values
        data_result['cloud'] = data_cloud.values[:198]
        
    return data_result

In [240]:
data_mokpo_1 = make_flat(data_mokpo_1)
data_mokpo_2 = make_flat(data_mokpo_2, year_2016=False)
data_mokpo_cloud = pd.concat([data_mokpo_1, data_mokpo_2])
data_mokpo_cloud = data_mokpo_cloud[data_mokpo_cloud.data > '20160630']
data_mokpo_cloud.reset_index(drop=True, inplace=True)
print(data_mokpo_cloud.shape)

data_mokpo_cloud.tail()

ValueError: Length of values does not match length of index

In [166]:
data_mokpo_cloud.to_csv('/Users/quartz/data/collabo/solar/2016-7_mokpo_cloud.csv')

In [243]:
data_mokpo_cloud = pd.read_csv('/Users/quartz/data/collabo/solar/2016-7_mokpo_cloud.csv', index_col=False)
data_mokpo_cloud.drop('Unnamed: 0', axis=1, inplace=True)
data_mokpo_cloud.reset_index(drop=True, inplace=True)
data_mokpo_cloud.tail()

         data  cloud
377  20170713    9.5
378  20170714    5.4
379  20170715    4.9
380  20170716    7.0
381  20170717    8.1

---

### 미세먼지

In [273]:
data_dust = pd.read_csv('/Users/quartz/data/collabo/solar/gwangju(156)heaksando(169)_dust(20160101~20170717).csv', encoding='cp949')
data_dust['일시'] = data_dust['일시'].apply(lambda x : x[:-5])
data_dust['일시'] = data_dust['일시'].apply(lambda x : ''.join(re.findall('\d', x)))
data_dust = data_dust[data_dust['일시'] > '20160630']
data_dust = data_dust.groupby(by='일시').mean()
data_dust.drop('지점', axis=1, inplace=True)
data_dust.reset_index(inplace=True)
print(data_dust.shape)
data_dust.head()

# data_dust.head()

(382, 2)

         일시  1시간평균 미세먼지농도(㎍/㎥)
0  20160701          10.225806
1  20160702          10.564103
2  20160703          11.648649
3  20160704          12.000000
4  20160705           9.394737

---

### 자외선

In [362]:
data_violet = pd.read_csv('/Users/quartz/data/collabo/solar/anmyeondo_ultra_B(20160101~20170717).csv', encoding='cp949')
data_violet['일시_'] = data_violet['일시'].apply(lambda x : ''.join(re.findall('\d', x)))
data_violet = data_violet[data_violet['일시_'] > '20160630']
data_violet.reset_index(drop=True, inplace=True)
data_violet.drop(['지점', '일시'], axis=1, inplace=True)
data_violet.head()

   일최대 홍반자외선 B(W/m2 )       일시_
0               0.089  20160701
1               0.242  20160702
2               0.067  20160703
3               0.069  20160704
4               0.128  20160705

In [ ]:
# mean
mean = data_violet['일최대 홍반자외선 B(W/m2 )'].mean()

In [363]:
print(data_dust.shape, data_violet.shape)
data_test = pd.concat([data_dust['일시'], data_violet['일시_']], axis=1)
print(data_test[data_test['일시'] != data_test['일시_']].head()) # 20160820 위치 데이터 부재

# divide two dataframe to insert data
data_violet_1 = data_violet.iloc[:50]
data_violet_2 = data_violet.iloc[50:]
print(data_violet_1.shape, data_violet_2.shape)

# insert data
data_violet_1.loc[50] = (mean, '20160820')

# concat data
data_violet = pd.concat([data_violet_1, data_violet_2], axis=0)
data_violet.reset_index(drop=True, inplace=True)
data_violet.iloc[48:52]

(382, 2) (380, 2)

          일시       일시_
50  20160820  20160821
51  20160821  20160822
52  20160822  20160823
53  20160823  20160824
54  20160824  20160825

In [366]:
print(data_dust.shape, data_violet.shape)
data_test = pd.concat([data_dust['일시'], data_violet['일시_']], axis=1)
print(data_test[data_test['일시'] != data_test['일시_']].head()) # 20161022 위치 데이터 부재

# divide two dataframe to insert data
data_violet_1 = data_violet.iloc[:113]
data_violet_2 = data_violet.iloc[113:]
print(data_violet_1.shape, data_violet_2.shape)

# insert data
data_violet_1.loc[113] = (mean, '20161022')

# concat data
data_violet = pd.concat([data_violet_1, data_violet_2], axis=0)
data_violet.reset_index(drop=True, inplace=True)
data_violet.iloc[111:115]

(113, 2) (268, 2)

     일최대 홍반자외선 B(W/m2 )       일시_
111            0.109000  20161020
112            0.067000  20161021
113            0.124921  20161022
114            0.096000  20161023

In [370]:
data_violet.to_csv('/Users/quartz/data/collabo/solar/anmyeondo_ultra_B(20160101~20170717)_v2.csv')

---

### 데이터 취합

- 기본
- 완도 기상
- 일사량
- 운량

In [244]:
data_basic.shape, data_wando.shape, data_insolation.shape, data_mokpo_cloud.shape

((382, 8), (382, 5), (381, 2), (382, 2))

In [ ]:
# 1 : [['일시', '평균 증기압(hPa)', '평균 현지기압(hPa)', '가조시간(hr)', '합계 일조 시간(hr)']]
# 2 : [['일시', '최대 순간 풍속 풍향(16방위)', '풍정합(100m)', '평균 증기압(hPa)', '평균 현지기압(hPa)', '최고 해면기압(hPa)', '평균 해면기압(hPa)', '가조시간(hr)', '합계 일조 시간(hr)']]
data_wando = data_wando[['일시', '최대 순간 풍속 풍향(16방위)', '풍정합(100m)', '평균 증기압(hPa)', '평균 현지기압(hPa)', '최고 해면기압(hPa)', '평균 해면기압(hPa)', '가조시간(hr)', '합계 일조 시간(hr)']]
data_wando.tail()

In [385]:
data_raw = pd.concat([data_basic[:-1], data_wando[:-1], data_insolation, data_mokpo_cloud[:-1], data_dust[:-1], data_violet[:-1]], axis=1)
data_raw.drop(['일시', 'time', 'data', '일시_'], axis=1, inplace=True)
data_raw.columns = ['날짜', '충전시간발전량', '일출시간', '일몰시간', '일일 강수량', '습도 평균', '풍속 평균', '기온 평균', '풍향', '풍정합(100m)', 
                    '평균 증기압(hPa)', '평균 현지기압(hPa)', '최고 해면기압(hPa)', '평균 해면기압(hPa)','가조시간(hr)', 
                    '합계 일조 시간(hr)', '일일 일조량', '자외선B', '운량', '미세먼지']
data_raw.tail()

,날짜,충전시간발전량,일출시간,일몰시간,일일 강수량,습도 평균,풍속 평균,기온 평균,풍향,풍정합(100m),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr),일일 일조량,자외선B,운량,미세먼지
376,170712,2392.2,530,1946,0.0,88.4375,1.63750,23.66875,290,713,29.3,1006.5,1012.2,1010.5,14.3,9.1,19.60,10.0,21.878049,0.202
377,170713,1625.2,530,1946,0.0,90.7500,1.26875,24.56250,270,705,31.3,1004.5,1010.0,1008.5,14.3,7.1,17.56,9.5,22.086957,0.185
378,170714,1764.5,531,1946,0.0,93.3125,0.73750,25.46875,270,1218,34.0,1004.8,1010.2,1008.8,14.3,5.4,12.90,5.4,17.785714,0.184
379,170715,937.2,531,1945,0.0,92.5625,0.54375,24.88750,270,1603,35.1,1007.2,1013.1,1011.2,14.2,1.1,3.51,4.9,17.266667,0.221
380,170716,1945.4,532,1945,0.0,93.6875,0.86875,25.54375,200,1982,35.7,1009.0,1014.1,1013.0,14.2,9.1,13.66,7.0,12.567568,0.094

In [386]:
data_raw.dtypes

날짜                int64
충전시간발전량         float64
일출시간              int64
일몰시간              int64
일일 강수량          float64
습도 평균           float64
풍속 평균           float64
기온 평균           float64
풍향                int64
풍정합(100m)         int64
평균 증기압(hPa)     float64
평균 현지기압(hPa)    float64
최고 해면기압(hPa)    float64
평균 해면기압(hPa)    float64
가조시간(hr)        float64
합계 일조 시간(hr)    float64
일일 일조량          float64
자외선B            float64
운량              float64
미세먼지            float64
dtype: object

In [387]:
data_raw.isna().sum()

날짜              0
충전시간발전량         0
일출시간            0
일몰시간            0
일일 강수량          0
습도 평균           0
풍속 평균           0
기온 평균           0
풍향              0
풍정합(100m)       0
평균 증기압(hPa)     0
평균 현지기압(hPa)    0
최고 해면기압(hPa)    0
평균 해면기압(hPa)    0
가조시간(hr)        0
합계 일조 시간(hr)    0
일일 일조량          0
자외선B            0
운량              0
미세먼지            0
dtype: int64

In [388]:
data_raw.to_pickle('/Users/quartz/data/collabo/solar/main_data_v2.pkl')